@charset "utf-8";
/* CSS Document */

.col-center-block{
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.regfrm input{
    width:100%;
    height:40px;
    display:block;
    margin:0 auto;
}
html{
	position:relative;
	min-height:100%;
}
.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:100px;
	background-color:rgba(250,250,250,0.8);
}
body{
	margin-bottom:100px;
}
#lrc{
	position:fixed;
	z-index:1000;
	bottom:0;
	right:0;
}